# Linkedin web scraper

## Getting Started

Check chrome version
menu>help>about google chrome

Go to https://chromedriver.chromium.org/downloads and download the particular software for your pc setting

extract and paste the file in the location where you've installed jupyter notebook

or just try pip install selenium

## CODING

In [1]:
import pandas as pd
import re
import selenium   #import selenium and then webdriver otherwise you will get an error 
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [2]:
browser=webdriver.Chrome("chromedriver.exe") #please note 'c' in Chrome must be uppercase
browser.get("https://www.linkedin.com")

- opens a new chrome tab 
- the difference is this tab was called by python because of the lines of code written above

In [3]:
username=browser.find_element_by_id('session_key')
username.send_keys('xxxxxxxxxxx@gmail.com')
password=browser.find_element_by_id('session_password')
password.send_keys('xxxxxxxxxx')

- This is the code to enter your login credentials into the linkedin login tab
- Replace your_ID and your_pw with you guessed it your own credentials

In [4]:
login_button=browser.find_element_by_class_name('sign-in-form__submit-button')
login_button.click()

- This should get you logged in to your account
- Python recreates the action of you manually clicking by itself

In [7]:
browser.get('https://www.linkedin.com/jobs/search/?geoId=102713980&keywords=data%20science&location=India&start=0')

- gets url from browser to perform actions

In [19]:
job=browser.find_elements_by_class_name('job-card-list__title')
jobt=[]                                                             #empty container 'job title'=jobt
for i in job:                                                     #iteration to hold and append the text in container jobt
    jobt.append(i.text)
print(jobt)
print()
print(len(jobt))

['Team Lead/Consultant-Data Science', 'Team Lead/Consultant-Data Science', 'Team Lead/Consultant-Data Science', 'Summer training and internship', 'Summer training and internship', 'Community Manager', 'Data Science Intern', 'Associate QA Analyst', 'Analyst-Data Science', 'Associate-Data Science', 'Analyst-Data Science', 'Team Lead/Consultant-Data Science', 'Team Lead/Consultant-Data Science', 'Senior Analyst-Data Science', 'Data Science Manager, Pricing/Automation', 'Data Engineer (New Grad) - India UHR', 'Python Trainer', 'Analyst', 'Data Analyst', 'Data Analyst', 'Team Lead/Consultant-Data Science', 'Trainee Associate', 'Trainee Associate', 'Applied Scientist', 'Data Analyst']

25

- scrapes job title stored as 'job-card-list__title' on the web page
- prints all the values of container at the end of iteration and the length of the container

In [30]:
job2=browser.find_elements_by_class_name('job-card-container__company-name')
compname=[]
for i in job2:
    compname.append(i.text)
print(compname)
print()
print(len(compname))

['Accenture in India', 'Accenture in India', 'Accenture in India', 'SkillVertex', 'SkillVertex', 'AllThingsConnected', 'Workskills', 'IQVIA', 'Accenture in India', 'Accenture in India', 'Accenture in India', 'Accenture in India', 'Accenture in India', 'Accenture in India', 'PayPal', 'Cisco', 'Miles Education', 'IQVIA', 'Myntra', 'Myntra', 'Accenture in India', 'ICE', 'ICE', 'Flipkart', 'Uber']

25

- performs same actions as above but for 'job-card-container__company-name' to get company names

In [27]:
job3=browser.find_elements_by_class_name('job-card-container__metadata-item')
location=[]
for i in job3:
    location.append(i.text)
print(location)
print()
print(len(location))

['Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Pune, Maharashtra, India', 'India', 'Remote', 'Bangalore Urban, Karnataka, India', 'Remote', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Chennai, Tamil Nadu, India', 'Bengaluru, Karnataka, India', 'Bangalore Urban, Karnataka, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India', 'Hyderabad, Telangana, India', 'Hyderabad, Telangana, India', 'Bengaluru, Karnataka, India', 'Bengaluru, Karnataka, India']

27

- performs same actions as above but for 'job-card-container__metadata-item' to get location

In [33]:

df=pd.DataFrame({'job title':jobt,
                 'companyname':compname,
                 'location':location[25]})
df.head()

,job title,companyname,location
0,Team Lead/Consultant-Data Science,Accenture in India,"Bengaluru, Karnataka, India"
1,Team Lead/Consultant-Data Science,Accenture in India,"Bengaluru, Karnataka, India"
2,Team Lead/Consultant-Data Science,Accenture in India,"Bengaluru, Karnataka, India"
3,Summer training and internship,SkillVertex,"Bengaluru, Karnataka, India"
4,Summer training and internship,SkillVertex,"Bengaluru, Karnataka, India"

- Create a dataframe with 3 columns and print the first 5 values with .head()

In [34]:
df.to_csv('linkedin_scrapejob1.csv')

- Save to an excel comma seperated value type file and perform all further data exploration